:root {
  --PaleBlue: hsl(225, 100%, 94%);
  --BrightBlue: hsl(245, 75%, 52%);
  --VeryPaleBlue: hsl(225, 100%, 98%);
  --DesaturatedBlue: hsl(224, 23%, 55%);
  --DesaturatedBlue_bg: hsla(224, 23%, 55%, 0.1);
  --DarkBlue: hsl(223, 47%, 23%);
  --White: hsl(100, 100%, 100%);
  --activeBlue: hsl(245, 55%, 52%);
  --frontendMentorBlue: hsl(228, 45%, 44%);
  --blackShadow: hsl(0, 0%, 50%);
}

body {
  background-image: url("./images/pattern-background-desktop.svg");
  background-color: var(--PaleBlue);
  background-repeat: no-repeat;
  font-family: 'Red Hat Display', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1rem;
  margin: auto 0;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card {
  background-color: white;
  border-radius: 2rem;
  overflow: hidden;
  text-align: center;
  width: 450px;
  -webkit-box-shadow: 0 3px 10px var(--blackShadow);
          box-shadow: 0 3px 10px var(--blackShadow);
  margin: 4rem;
}

.content-card {
  padding: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

h1 {
  color: var(--DarkBlue);
}

p {
  font-size: 1rem;
  color: var(--DesaturatedBlue);
}

.pricing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--DesaturatedBlue_bg);
  border-radius: 1rem;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  padding: 0.6rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.price {
  margin: 1rem;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  text-align: left;
}

.price p, h2 {
  padding: 0;
  margin: .2rem;
}

.pricing a {
  color: var(--BrightBlue);
  font-weight: 700;
}

button {
  background-color: var(--BrightBlue);
  font-weight: 900;
  font-size: 1.1rem;
  color: var(--White);
  border-radius: 0.5rem;
  border: none;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  -webkit-box-shadow: 0 3px 10px var(--blackShadow);
          box-shadow: 0 3px 10px var(--blackShadow);
}

.cancel {
  color: var(--DesaturatedBlue);
  font-weight: 900;
  font-size: 1rem;
}

footer {
  font-size: 0.8rem;
  text-align: center;
}

footer a {
  color: var(--frontendMentorBlue);
}

button:hover {
  background-color: var(--activeBlue);
}

.cancel:hover {
  color: var(--DarkBlue);
}

.pricing a:hover {
  color: var(--activeBlue);
}

@media only screen and (min-width: 1441px) {
  body {
    background-size: cover;
    background-position: center;
  }
}

@media (max-width: 375px) {
  .card {
    width: 90%;
    margin: 1rem;
    margin-top: 2rem;
  }
  .content-card {
    padding: 1rem;
  }
}

@media not all and (max-width: 450px) {
  .safari10 {
    margin-top: 4rem;
    margin-bottom: 4rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
/*# sourceMappingURL=style.css.map */